/*============== font family

	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Raleway', sans-serif;
==============*/
/*==============
	header
==============*/
.header {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
}
@media screen and (max-width: 768px) {
  .header {
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.header__logo {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #449999;
  letter-spacing: 0.1rem;
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    font-size: 2.5rem;
    margin-right: auto;
  }
}
.header__cruit {
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  color: #333;
  margin-left: 1.2rem;
}
@media screen and (max-width: 768px) {
  .header__cruit {
    margin-left: 0.5rem;
  }
}
.header__cruit .navigate-link {
  z-index: 2;
}

.header__drop-menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .header__drop-menu {
    position: fixed;
    display: none;
    top: 12rem;
    bottom: 0;
    left: 0;
    padding: 0 2rem;
    z-index: 1020;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f1f1f1;
    box-shadow: 0 0.5rem 1rem 0 rgba(31, 31, 31, 0.5);
    overflow-y: auto;
    margin-bottom: 0;
    text-align: center;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header__drop-menu {
    top: 6rem;
    padding-top: 0;
  }
}
.header__drop-menu.active {
  display: flex;
}
.header__drop-menu .drop-menu__item {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header__drop-menu .drop-menu__item {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}
.header__drop-menu .drop-menu__item:not(:last-child) h3 {
  padding: 1rem 2rem;
}
.header__drop-menu .drop-menu__item h3 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #333;
  position: relative;
  transition: all 0.3s ease;
}
.header__drop-menu .drop-menu__item h3::after {
  width: 0;
  height: 0.2rem;
  background-color: #449999;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 1025px) {
  .header__drop-menu .drop-menu__item h3::after {
    content: "";
  }
}
.header__drop-menu .drop-menu__item h3 .nav-link {
  z-index: 1020;
}
@media only screen and (min-width: 1025px) {
  .header__drop-menu .drop-menu__item:hover .drop-menu__sub {
    display: flex;
  }
}
.header__drop-menu .drop-menu__item:hover h3 {
  opacity: 0.8;
}
.header__drop-menu .drop-menu__item:hover h3::after {
  width: 100%;
}
.header__drop-menu .drop-menu__item.active .drop-menu__sub {
  display: flex;
}
.header__drop-menu .drop-menu__sub {
  position: absolute;
  display: none;
  flex-direction: column;
  left: 0;
  min-width: 25rem;
  top: 0;
  margin-top: 5rem;
  background-color: rgba(241, 241, 241, 0.5);
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(31, 31, 31, 0.5);
  z-index: 12;
}
@media screen and (max-width: 1024px) {
  .header__drop-menu .drop-menu__sub {
    margin: 0;
    position: relative;
    background-color: transparent;
    box-shadow: 0 0;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .header__drop-menu .drop-menu__sub {
    padding-left: 2rem;
  }
}
.header__drop-menu .drop-menu__sub::before {
  content: "";
  height: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  background-color: transparent;
}
.header__drop-menu .drop-menu__sub li {
  width: 100%;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease;
}
.header__drop-menu .drop-menu__sub li:hover {
  padding-left: 1.8rem;
}
.header__drop-menu .drop-menu__sub.active {
  display: flex;
}

/*==============
	hambuger button
==============*/
.hambuger-button {
  width: 3rem;
  height: 2rem;
  position: fixed;
  z-index: 1030;
  border: 0;
  outline: none !important;
  display: none;
  background-color: transparent;
}
.hambuger-button span {
  width: 3rem;
  height: 0.2rem;
  background-color: #333;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.hambuger-button span:nth-of-type(1) {
  top: 0;
}
.hambuger-button span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hambuger-button span:nth-of-type(3) {
  bottom: 0;
}
.hambuger-button.active span:nth-of-type(1) {
  transform: translateY(0.9rem) rotate(45deg);
}
.hambuger-button.active span:nth-of-type(2) {
  opacity: 0;
}
.hambuger-button.active span:nth-of-type(3) {
  transform: translateY(-0.9rem) rotate(-45deg);
}
@media screen and (max-width: 1024px) {
  .hambuger-button {
    display: block;
    top: 5rem;
    right: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .hambuger-button {
    top: 2rem;
    right: 2rem;
  }
}

/*# sourceMappingURL=header.css.map */
