@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'assets/colors.scss';


/*============== font family
	
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Raleway', sans-serif;
==============*/


/*==============
 	footer
==============*/
.footer{
	width: 100%;
	background-color: #333;
	padding-top: 6rem;

	@include mobile{
		padding-top: 2rem;
	}

	&-menu{
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		@include mobile{
			padding: 0 2rem;
			flex-direction: column;
		}

		&:not(:last-child){
			margin-bottom: 8rem;
			@include mobile{
				margin-bottom: 2rem;
			}
		}
	}
}
.footer-menu__wrap{

	width: 100%;
	max-width: 25%;
	display: flex;
	flex-direction: column;
	
	@include mobile{
		margin-top: 1rem;
		max-width: 100%;
	}

	li{
		color: #9cd8d4;
		font-size: 1.6rem;
		margin-bottom: 2rem;
		position: relative;

		@include mobile{
			width: 100%;
			margin-bottom: 1rem;
			padding-left: 2rem;
		}
	}
	
	.footer-menu__title{
		margin-bottom: 3rem;

		@include mobile{
			padding-left: 0;
		}
	}
}

.end-page{
	border-top: .1rem solid #484848;
	ul{
		width: 100%;
		height: 6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mobile{
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			padding: 0 2rem;
		}

		li:first-child{
			font-size: 1.6rem;
			color: #f4fafe;

		}

		li:last-child{
			font-size: 1.2rem;
			color: #f4fafe;
			letter-spacing: .15rem;
			@include mobile{
				letter-spacing: 0;
			}
		}
	}
}
/*==============
 	9cd8d4
==============*/


/*==============
 	
==============*/


